 @import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@200;300;400&display=swap');
*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Ysabeau Office', sans-serif;
}

.container{
    width: 100%;
    height: 100%;
}
.manu{
    width: 100%;
    height: 150px;
}
.logo{
    position: absolute;
    left: 13%;
    top: 35px;
}
.sear{
    position: absolute;
    left:  64%;
}
#Search-box {
    position: absolute;
    top: 35px;
  }
#search {
    width: 320px;
    height: 52px;
    border: 1px solid #4e4e4e;
    background-color: #4e4e4e;
    padding-left: 50px;
    color: #fffcfc;
    border-radius: 100px;
    font-size:18px;
}
#search::-webkit-input-placeholder{
    position: absolute;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Ysabeau Office', sans-serif;
}
  #Search-box .fa-search {
    position: absolute;
    width: 0px;
    height: 0px;
    top: 14px;
    left: 12px;
    font-size: 25px;
    color:rgb(255, 255, 255);
}
.wallet{
    position: absolute;
    right: 13%;
    top: 40px;
}
.home{
position: absolute;
    top: 5%;
    left: 40%;
    color: #4b4b4b;
    font-size: 25px;
}
.home:hover{
    color: #000;
}
.catalog{
    position: absolute;
    top: 5%;
    left: 47%;
    color: #4b4b4b;
    font-size: 25px;
}
.catalog:hover{
    color: #000;
}
.contact{
    position: absolute;
    top: 5%;
    left: 55%;
    color: #4b4b4b;
    font-size: 25px;
}
.contact:hover{
    color: #000;
}
.header{
    position: absolute;
    background-color:  #3b3d42;
    width: 100%;
    height: 150px;
    top: 12%;
}
.headerone{
    position: absolute;
    top: 15%;
    left: 35%;
    background-color: #3b3d42;
    color: #fff;
    font-size: 50px;
}
.header-txt{
    position: absolute;
    top: 70%;
    left: 43%;
    color: #fff;
    background-color: #3b3d42;
    font-size: 20px;
}
.urunler{
    position: absolute;
    width: 100%;
    height: auto;
    top: 33%;
}
.ilkurun{
    background-size: cover;
    position: absolute;
    width: 650px;
    height: 650px;
    transform: scale(1);
    left: 33%;
    border-radius: 7%;
    transition: all .3s;
}
.ilkurun:hover{
    transform: scale(1.01);
}
.bottombox{
    position: absolute;
    display: flex;
    width: 100%;
    height: auto;
    top: 700px;
}
.one{
    position: absolute;
    left: 12%;
    width: 300px;
    height: 460px;
    border-radius: 14px;
    border: 1px solid #c0bebe;
    transform: scale(1);
    transition: all .3s;
}
.one:hover{
    transform: scale(1.01);
}
.battomimgone{
position: absolute;
left: -3px;
 width: 303px;
 height: 320px;
}
.one-txt{
    position: absolute;
    top: 75%;
    left: 7%;
    font-size: 18px;
    color: #3b3d42;
}
.one-price{
    position: absolute;
    top: 90%;
    font-size: 20px;
    left: 7%;
    color: #000;
}
.two{
    position: absolute;
    left: 32%;
    width: 300px;
    height: 460px;
    border-radius: 14px;
    border: 1px solid #c0bebe;
    transform: scale(1);
    transition: all .3s;
}
.two:hover{
    transform: scale(1.01);
}
.two-txt{
    position: absolute;
    top: 75%;
    left: 7%;
    font-size: 18px;
    color: #3b3d42;
}
.two-price{
    position: absolute;
    top: 90%;
    font-size: 20px;
    left: 7%;
    color: #000;
}
.three{
        position: absolute;
        left: 52%;
        width: 300px;
        height: 460px;
        border-radius: 14px;
        border: 1px solid #c0bebe;
        transform: scale(1);
        transition: all .3s;
}
.three:hover{
    transform: scale(1.01);
}
.three-txt{
    position: absolute;
    top: 75%;
    left: 7%;
    font-size: 18px;
    color: #3b3d42;
}
.three-price{
    position: absolute;
    top: 90%;
    font-size: 20px;
    left: 7%;
    color: #000;
}
.four{
    position: absolute;
    width: 300px;
    height: 460px;
    left: 72%;
    border: 1px solid #c0bebe;
    border-radius: 14px;
    transform: scale(1);
    transition: all .3s;
}
.four:hover{
    transform: scale(1.01);
}
.four-txt{
    position: absolute;
    top: 75%;
    left: 7%;
    font-size: 18px;
    color: #3b3d42;
}
.four-price{
    position: absolute;
    top: 90%;
    font-size: 20px;
    left: 7%;
    color: #000;
}
.Black-Div{
    position: absolute;
    width: 100%;
    height: 350px;
    background-color: black;
    top: 170%;
   
}
.Sub-mails{
    position: absolute;
    color: #ffffff;
    font-size: 40px;
    left: 38%;
    right: auto;
    top: 6%;
}
.E-mail{
    position: absolute;
    border: 1px solid rgb(187, 187, 187);
    width: 350px;
    height: 50px;
    background-color: transparent;
    border-radius: 4px;
    color:rgb(252, 252, 252);
    font-size: 16px;
    padding-left: 20px;
    left: 39%;
    top: 43%;
}
.Sub-Txt{
    position: absolute;
    color: #ffffff;
    font-size: 16px;
    left: 35%;
    right: auto;
    top: 90px;
}
::placeholder{
    position: relative;
    color:  rgb(233, 232, 232);
    font-size: 16px;
}
.Send-mail{
    position: relative;
    left: 55%;
    width: 50px;
    background-color: transparent;
    color:  rgb(255, 248, 248); 
    border:transparent;
    cursor: pointer;
    font-size: 16px;
    top: 165px;
}