@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@200;300;400&display=swap');
*{
 margin: 0px;
 padding: 0px;
 font-family: 'Ysabeau Office', sans-serif;
 text-decoration: none;
}
.navbar{
    width: 100%;
    height: 150px;
}
.logo{
    position: absolute;
    left: 13%;
    top: 35px;
}
.sear{
    position: absolute;
    left:  64%;
}
#Search-box {
    position: absolute;
    top: 35px;
  }
#search {
    width: 320px;
    height: 52px;
    border: 1px solid #4e4e4e;
    background-color: #4e4e4e;
    padding-left: 50px;
    color: #fffcfc;
    font-weight: 20;
    border-radius: 100px;
    font-size:18px;
}
#search::-webkit-input-placeholder{
    color: #ffffff;
    position: absolute;
    font-size: 18px;
    font-family: 'Ysabeau Office', sans-serif;
}
  #Search-box .fa-search {
    position: absolute;
    width: 0px;
    height: 0px;
    top: 14px;
    left: 12px;
    font-size: 25px;
    color:rgb(255, 255, 255);
}
.wallet{
    position: absolute;
    right: 13%;
    top: 40px;
}
.home{
    position: absolute;
        top: 5%;
        left: 40%;
        color: #4b4b4b;
        font-size: 25px;
}
    .home:hover{
        color: #000;
    }
.catalog{
        position: absolute;
        top: 5%;
        left: 47%;
        color: #4b4b4b;
        font-size: 25px;
}
.catalog:hover{
        color: #000;
}
.contact{
        position: absolute;
        top: 5%;
        left: 55%;
        color: #4b4b4b;
        font-size: 25px;
}
    .contact:hover{
        color: #000;
}
.Products > span{
    position: absolute;
    width: 1100px;
    height: 52px;
    top: 130px;
    left: 290px;
    font-weight: lighter;
    font-size: 60px;
    color: #474747;
    background-color: transparent;
}
.Availability> a{
    color: #7a5757;
    background-color: transparent;
}
.Price > a{
    color: #7a5757;
    background-color: transparent;
}
.Availability{
    position: absolute;
    left: 320px;
    top: 290px;
    font-size: 16px;
}
.Price{
    position: absolute;
    left: 450px;
    top: 290px;
    font-size: 16px;
}
select::-ms-expand {
    display: none;
  }
  select {
    display: inline-block;
    box-sizing: border-box;
    padding: 0.5em 2em 0.5em 0.5em;
    border: 1px solid #eee;
    border-radius: 10px;
    background-color: #e1e1e9;
    font: inherit;
    line-height: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
    background-position: right 15px top 1em, right 10px top 1em;
    background-size: 5px 5px, 5px 5px;
  }
  .custom-select{
    position: absolute;
    left: 1270px;
    top: 280px;
  }

.Sale-div-1,.Sale-div-2,.Sale-div-3,.Sale-div-3,.Sale-div-4,.Sale-div-5,.Sale-div-6,.Sale-div-7,.Sale-div-8,
.Sale-div-9,.Sale-div-10,.Sale-div-11,.Sale-div-12,.Sale-div-13,.Sale-div-14,.Sale-div-15,.Sale-div-16{
    position: absolute;
    width: 259px;
    height: 477,06px;
    border: 1px solid rgb(201, 199, 199);
    border-radius: 10px;
    color: #7a5757;
    transform: scale(1);
    transition: all .3s;
    background-color: transparent;
}
.Sale-div-1,.Sale-div-2 ,.Sale-div-3, .Sale-div-4{
    top: 330px;
}
.Sale-div-5,.Sale-div-6,.Sale-div-7,.Sale-div-8{
    top: 840px; 
}
.Sale-div-9,.Sale-div-10,.Sale-div-11,.Sale-div-12{
    top: 1350px; 
}
.Sale-div-13,.Sale-div-14,.Sale-div-15,.Sale-div-16{
    top: 1860px; 
}
.Sale-div-1{
   left: 300px;
}
.Sale-div-2{
    left: 600px;
}
.Sale-div-3{
    left: 900px;
}
.Sale-div-4{
    left: 1200px;
}
.Sale-div-5{
    left: 300px;
}
.Sale-div-6{
    left: 600px;
}
.Sale-div-7{
    left: 900px;
}
.Sale-div-8{
    left: 1200px;
}
.Sale-div-9{
    left: 300px;
}
.Sale-div-10{
    left: 600px;
}
.Sale-div-11{
    left: 900px;
}
.Sale-div-12{
    left: 1200px;
}
.Sale-div-13{
    left: 300px;
}
.Sale-div-14{
    left: 600px;
}
.Sale-div-15{
    left: 900px;
}
.Sale-div-16{
    left: 1200px;
}
.Txt-part-1,.Txt-part-2,.Txt-part-3,.Txt-part-4{
    height: 120px;
    
}
.Txt-part-5,.Txt-part-6,.Txt-part-7,.Txt-part-8{
    height: 120px;
}
.Txt-part-9,.Txt-part-10,.Txt-part-11,.Txt-part-12{
    height: 120px;
}
.Txt-part-13,.Txt-part-14,.Txt-part-15,.Txt-part-16{
    height: 120px;
}
.Txt-1,.Txt-2,.Txt-3,.Txt-4{
    position: absolute;
    top: 340px ;
    left: 20px;
}
.Txt-5,.Txt-6,.Txt-7,.Txt-8{
    position: absolute;
    top: 340px ;
    left: 20px;
}
.Txt-9,.Txt-10,.Txt-11,.Txt-12{
    position: absolute;
    top: 340px ;
    left: 20px;
}
.Txt-13,.Txt-14,.Txt-15,.Txt-16{
    position: absolute;
    top: 340px ;
    left: 20px;
}
.Price-1,.Price-2,.Price-3,.Price-4{
    position: absolute;
    top: 388px;
    left: 20px;
}
.Price-5,.Price-6,.Price-7,.Price-8{
    position: absolute;
    top: 388px;
    left: 20px;
}
.Price-9,.Price-10,.Price-11,.Price-12{
    position: absolute;
    top: 388px;
    left: 20px;
}
.Price-13,.Price-14,.Price-15,.Price-16{
    position: absolute;
    top: 388px;
    left: 20px;
}

.Img-1,.Img-2,.Img-3,.Img-4{
    border: 0,5px solid rgb(201, 199, 199);
    border-top-right-radius: 10px; 
    border-top-left-radius: 10px;
}
.Img-5,.Img-6,.Img-7,.Img-8{
    border: 1px solid rgb(201, 199, 199);
    border-top-right-radius: 10px; 
    border-top-left-radius: 10px;
   
   }
.Img-9,.Img-10,.Img-11,.Img-12{
    border: 1px solid rgb(201, 199, 199);
    border-top-right-radius: 10px; 
    border-top-left-radius: 10px;
}
.Img-13,.Img-14,.Img-15,.Img-16{
    border: 1px solid rgb(201, 199, 199);
    border-top-right-radius: 10px; 
    border-top-left-radius: 10px;
}

.Page-1, .Page-2{
    position: absolute;
    top: 2400px;
    font-size: 17px;
    color: #474747;
}
.Page-1{
    left: 855px;
}
.Page-2{
    left: 895px;
}
.Page-1:hover{
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 0.1em;
}
.Page-2:hover{
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 0.1em;

}
.Black-Div{
    position: absolute;
    width: 100%;
    height: 350px;
    background-color: black;
    top: 258%;
   
}
.Sub-mails{
    position: absolute;
    color: #ffffff;
    font-size: 40px;
    left: 38%;
    right: auto;
    top: 6%;
}
.E-mail{
    position: absolute;
    border: 1px solid rgb(187, 187, 187);
    width: 350px;
    height: 50px;
    background-color: transparent;
    border-radius: 4px;
    color:rgb(252, 252, 252);
    font-size: 16px;
    padding-left: 20px;
    left: 39%;
    top: 43%;
}
.Sub-Txt{
    position: absolute;
    color: #ffffff;
    font-size: 16px;
    left: 35%;
    right: auto;
    top: 90px;
}
::placeholder{
    position: relative;
    color:  rgb(233, 232, 232);
    font-size: 16px;
}
.Send-mail{
    position: relative;
    left: 55%;
    width: 50px;
    background-color: transparent;
    color:  rgb(255, 248, 248); 
    border:transparent;
    cursor: pointer;
    font-size: 16px;
    top: 165px;
}